@charset "UTF-8";
	
	#menuBar button {
 		border: 2px solid #FF1818;
 		background-color: white;
		color: #FF1818;
		padding: 5px;
		border-radius: 5px;
		font-family: 'Luckiest Guy', cursive;
		font-size: 16px;
		position: relative; 
		right: 0px; 
		top:-45px;
		
	}
	
	#menuBar button:hover {
		background-color: #FF1818;
		color: white;
	}
	
	h2 {
		text-align: center;
	}

	.memberList {
		margin: auto;
		width: 800px;
		text-align: center;
		
	}
	
	.memberList td {
		border-bottom: 2px solid #ccc;
		font-family: 'Poor Story', cursive;
		color: black;
		
	}
	
	#font_front {
		font-weight: bold;
	}
	
	.mateListTable:hover {
		background-color: #e9e9e9;
	}
	

	
	td.link:hover{
	background-color: #808080;
	cursor: pointer;
	}	

	.search input {
 		padding: 5px; 
		border: 2px solid #c6c6c6;
		background-color:white;
		color: #717171;
		border-radius: 5px;
/* 		font-family: 'Poor Story', cursive; */
/* 		font-weight: bold; */
	}
	
.before_next {
	border: 2px solid #c6c6c6;
	background-color: #717171;
	border-radius: 5px;
	color: white;
	font-family: 'Poor Story', cursive;
	text-decoration: none;
}

.before_next:hover {
	background-color: white;
	color : #717171;
	cursor: pointer;
	margin: auto;
	
}
	
	.mateBanner img {
	border-radius: 10px;
	}
	
	#plus {
		border-bottom: none;
		margin: 0px;
		position: relative;
		left: 590px;
	}
	