@charset "UTF-8";

#menuBar button {
	border: 2px solid #FF1818;
	background-color: white;
	color: #FF1818;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Luckiest Guy', cursive;
	font-size: 16px;
	position: relative; 
	right: 0px; 
	top:-45px;
	
}

#menuBar button:hover {
	background-color: #FF1818;
	color: white;
}

h2 {
	text-align: center;
}

.tmiList {
	margin: auto;
	width: 800px;
	text-align: center;
}

.tmiList td {
	border-bottom: 2px solid #ccc;
	font-family: 'Poor Story', cursive;
}

.tmiListTable:hover {
	background-color: #e9e9e9;
}

#font_front {
	font-weight: bold;
}

.link a {
	text-decoration: none;
	color: black;
}

.search input {
	padding: 5px; 
	border: 2px solid #c6c6c6;
	background-color:white;
	color: #717171;
	border-radius: 5px;
	font-family: 'Poor Story', cursive;
}

.searchIcon {
	padding: 2px;
	border: 2px solid #FF1818;
	background-color: white;
	color: #FF1818;
	border-radius: 5px;
	color: #717171;
}

.before_next {
	border: 2px solid #FF1818;
	background-color: white;
	border-radius: 5px;
	color: #717171;
	font-family: 'Poor Story', cursive;
}

/* .tmiBanner img { */
/* border-radius: 10px; */
/* } */

#plus {
	border-bottom: none;
	margin: 0px;
	position: relative;
	left: 590px;
}

.tmiButton {
	border: 2px solid #FF1818;
	background-color: white;
	color: #FF1818;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Poor Story', cursive;
}

.tmiButton:hover {
	background-color: #FF1818;
	color: white;
}